.checkout {
display: flex;

&__list{
    width: 50%;
    display: flex;
    flex-wrap: wrap;


}
&__sumary{
   flex-grow: 1;
}


}

.product__img--check{
    width: 10%;

}
.product__title--check{
font-size: 1em;
}