@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product {
  border-radius: 15px;
  display: block;
  text-decoration: none;
  margin: 20px;
}

.product__img {
  width: 100%;
}

.product__info {
  padding: 10px;
  margin-right: 5%;
}

.product__title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2em;
  color: #721B65;
}

.product__name {
  font-size: 2em;
  color: #721B65;
}

.product__price {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

.product:hover {
  color: #800055;
}

.product__deleteBtn {
  border-radius: 30px;
  border: 2px solid #721B65;
  background: none;
  margin: 5px;
  width: 30px;
}

.product__cartBtn {
  font-family: Quicksand;
  color: #721B65;
  width: 150px;
  margin-bottom: 10px;
  margin: 10px;
}

.product__thumb {
  border-radius: 10px;
  border: 2px solid #721B65;
  background: none;
  margin: 5px;
  width: 50px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product__options {
  margin-left: 5%;
}

.descriptionField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  font-family: Quicksand;
  color: #721B65;
  padding: 5%;
}

.descriptionField__descriptionContainer {
  border: 2px solid #721B65;
  border-radius: 10px;
}

.product--d {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  text-decoration: none;
  margin: 20px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product__img--d {
  width: 60%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  margin: 5%;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.description {
  padding: 5%;
}

.productForm__btn {
  margin-top: 15px;
  display: block;
}

.productForm__success {
  color: #89a8e2;
}

.productForm__loading {
  color: #89a8e2;
}

.productForm__error {
  color: #89a8e2;
}

.productForm__img {
  width: 100px;
  margin: 4px 10px 0 0;
}

.productForm__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field__label,
.productForm__label {
  display: block;
  margin-top: 10px;
}

.field__label--checkbox,
.productForm__label--checkbox {
  margin-top: 2px;
  margin-left: 10px;
}

.field__input,
.productForm__input {
  display: block;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background-image: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.hidden {
  display: none !important;
}

.storeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  width: 100%;
  font-family: Quicksand;
  background-color: #F1E3EF;
  margin-left: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Prodcontainer {
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  display: block;
  text-decoration: none;
  margin: 20px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.productForm__label {
  color: #721B65;
  font-family: Quicksand;
  font-weight: bolder;
  width: 30%;
}

.productForm__inputfilter {
  color: #ffffff;
  font-family: Quicksand;
  margin-left: 10px;
  margin-right: 10px;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #721B65;
  background-image: none;
  height: 30px;
  width: 30%;
}

select::-ms-expand {
  display: none;
}

select {
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

.linkbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #721B65;
  font-family: Quicksand;
  font-weight: bolder;
}

.linkbar li {
  display: inline-block;
  width: 150px;
  color: #721B65;
}

.linkbar li a {
  display: inline-block;
  text-decoration: none;
  margin-left: 5%;
  text-decoration: none;
  color: #721B65;
}

.linkbar__link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #470e0e;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.linkbar__link:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.listcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.listcontainer__title {
  color: #721B65;
  font-family: Quicksand;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 0em;
  text-decoration: none;
  margin-left: 20px;
}

.formcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cartBtn {
  margin: 10px;
}

.cartBtn span {
  color: #721B65;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.line {
  border-top: 1px solid #e6a6dc;
  height: 2px;
  padding: 20px;
  margin: 20px;
}

h2 {
  color: #721B65;
  width: 30%;
}

.cartBtn {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.formBtn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-family: Quicksand;
  color: #721B65;
  width: 150px;
  border-radius: 30px;
  border: 2px solid #721B65;
  -webkit-transition: .6s;
  transition: .6s;
  background: none;
  overflow: hidden;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
}

.formBtn:focus {
  outline: none;
}

.formBtn::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 10px;
  height: 50px;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translate(-100px) scaleX(-15deg);
          transform: translate(-100px) scaleX(-15deg);
}

.formBtn:hover {
  background: #721B65;
  cursor: pointer;
  color: aliceblue;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: none;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 0;
}

.modal__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  padding: 20px;
  background-color: white;
  margin: 10% auto;
  width: 100%;
  max-width: 400px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transform: translate(0px, -500px);
          transform: translate(0px, -500px);
  position: relative;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 20px;
  padding-bottom: 20px;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 700px;
  margin: 0 auto;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.checkout__list {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout__sumary {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.checkout__total {
  font-family: Quicksand;
  color: #721B65;
  width: 100px;
  padding-bottom: 5px;
}

.product__img--check {
  width: 10%;
}

.product__title--check {
  font-size: 1em;
}

.field__label {
  color: #721B65;
  width: 100px;
  padding-bottom: 5px;
  font-family: Quicksand;
  font-weight: lighter;
}

.submit {
  margin: 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: Quicksand;
}

h3 {
  font-family: Quicksand;
  color: #721B65;
}

p {
  font-family: Quicksand;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  background-color: white;
  font-family: Quicksand;
  font-size: 1em;
  color: #721B65;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(160, 142, 168, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(160, 142, 168, 0.2);
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__input {
  color: #721B65;
  width: 150px;
  border-radius: 30px;
  border: 2px solid #721B65;
  -webkit-transition: .6s;
  transition: .6s;
  background: none;
  overflow: hidden;
  outline: none;
  padding-left: 10px;
  width: 20%;
  margin-left: 20px;
}

.header .header__imglogo {
  margin: auto;
  height: 50px;
}

.header .header__discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
}

.header .header__discover p {
  padding-left: 10px;
  margin: auto;
}

.header .header__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

.header .header__information {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
}

.header .header__information p {
  margin: auto;
  padding-left: 10px;
}

#header__sidemenu {
  display: none;
}

.header__sidemenu {
  margin-left: 20px;
  margin-top: 5px;
}

.header__sidemenu label {
  cursor: pointer;
}

#header__sidemenu:checked ~ .sidemenu {
  opacity: 1;
  visibility: visible;
}

.sidemenu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.sidemenu__content {
  width: 100%;
  max-width: 250px;
  background: #721B65;
  height: 100vh;
  position: relative;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Quicksand;
}

.sidemenu__content nav {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.sidemenu__content nav a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #FFFFFF;
  border-left: 5px solid transparent;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.sidemenu__content nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}

.sidemenu__content label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  padding-right: 1em;
  padding-left: 1em;
}

.btn p {
  margin: auto;
}

button {
  font-family: Quicksand;
  color: #721B65;
  width: 150px;
  border-radius: 30px;
  border: 2px solid #721B65;
  -webkit-transition: .6s;
  transition: .6s;
  background: none;
  overflow: hidden;
}

button:focus {
  outline: none;
}

button:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 10px;
  height: 50px;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translate(-100px) scaleX(-15deg);
          transform: translate(-100px) scaleX(-15deg);
}

button:hover {
  background: #721B65;
  cursor: pointer;
  color: aliceblue;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.banner {
  background: -webkit-gradient(linear, left top, right bottom, from(#FFA3C1), color-stop(#FF87B9), color-stop(50%, #FFE9D4), to(#FEA49F));
  background: linear-gradient(to bottom right, #FFA3C1, #FF87B9, #FFE9D4 50%, #FEA49F);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #721B65;
}

.banner .banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5em;
  margin-top: 4em;
}

.banner .banner__info .banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0));
  padding-left: 1em;
  padding-bottom: 1em;
}

.banner .banner__info .banner__container h1 {
  font-size: 4em;
  margin: 0;
}

.banner .banner__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
}

.banner .banner__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 0;
  margin-right: 2em;
}

.publicity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publicity h2 {
  font-family: Quicksand;
  font-size: 2em;
  color: #721B65;
  margin: 0;
  padding: 0;
}

.publicity .publicity__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3%;
}

.publicity .publicity__product {
  background-color: #B80D57;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 50px;
  width: 45%;
  height: 30;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 15px;
  color: azure;
  margin-right: 5em;
}

.publicity .publicity__img {
  position: absolute;
  top: 0;
  left: 110px;
  width: 150px;
}

.publicity .publicity--img {
  background-color: #F8615A;
}

.publicity .publicity--img2 {
  background-color: #FFD868;
}

.caracteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caracteristics h1 {
  font-size: 3em;
  margin: 0;
  color: #721B65;
}

.caracteristics .caracateristics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caracteristics .caracteristics__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em;
}

.caracteristics .caracteristics__info p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #721B65;
}

.caracteristics .caracteristics__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
}

.caracteristics .caracteristics--imgwidth {
  width: 120px;
  margin-bottom: 20%;
}

.caracteristics .caracteristics--imgwidth2 {
  width: 90px;
  margin-bottom: 25%;
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left top, right bottom, from(#FFA3C1), color-stop(#FF87B9), color-stop(50%, #FFE9D4), to(#FEA49F));
  background: linear-gradient(to bottom right, #FFA3C1, #FF87B9, #FFE9D4 50%, #FEA49F);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interaction .interaction__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0));
  margin-left: 5em;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 20vw;
  height: 50vh;
}

.interaction .interaction__after {
  position: absolute;
  width: 22vw;
  height: 50vh;
}

.interaction .interaction__before {
  position: absolute;
  width: 11vw;
  height: 50vh;
  overflow: hidden;
  pointer-events: none;
}

.interaction .interaction__slider {
  width: 0.3rem;
  background: #FFFFFF;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  pointer-events: none;
}

.interaction .interaction__img {
  width: 20vw;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery h1 {
  color: #721B65;
  font-size: 3em;
}

.gallery__current {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__thumb {
  height: 50px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
}

.gallery button {
  background: none;
  border: 2px solid #721B65;
}

.gallery button:hover {
  background: #721B65;
  cursor: pointer;
  color: aliceblue;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right bottom, from(#FFA3C1), color-stop(#FF87B9), color-stop(50%, #FFE9D4), to(#FEA49F));
  background: linear-gradient(to bottom right, #FFA3C1, #FF87B9, #FFE9D4 50%, #FEA49F);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details h1 {
  font-size: 3em;
  margin: 0;
  color: #721B65;
}

.details p {
  color: #721B65;
}

.details .details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0));
  padding-left: 1em;
  padding-bottom: 1em;
  margin: 5em;
  width: 500px;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat !important;
  background-size: cover;
  color: aliceblue;
}

.newsletter h3 {
  color: aliceblue;
}

.newsletter input {
  border-radius: 30px;
  padding: 5px;
  border: 2px solid #721B65;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em;
}

.footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footer__info .footer__img {
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

.footer .footer__info ul {
  font-family: Quicksand;
  color: #721B65;
}

.footer .footer__img {
  margin: 30px;
  width: 100px;
  height: 30px;
}

@media screen and (max-width: 700px) {
  p {
    font-size: 12px;
  }
  h3 {
    font-size: 18px;
  }
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__discover p {
    display: none;
  }
  .header .header__discover button {
    display: none;
  }
  .header .header__information {
    display: none;
  }
  .header .header__imgdiscover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 5%;
    margin-left: 3%;
  }
  .header .header__imglogo {
    margin: 0;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .banner__info {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .banner .banner__info .banner__container h1 {
    font-size: 2.5em;
  }
  .banner .banner__info .banner__container .banner__btns button {
    font-family: Quicksand;
    color: #721B65;
    width: 100px;
    padding-bottom: 5px;
    border-radius: 30px;
    border: 2px solid #721B65;
    -webkit-transition: .6s;
    transition: .6s;
    background: none;
    overflow: hidden;
  }
  .banner .banner__info .banner__container .banner__btns button:focus {
    outline: none;
  }
  .banner .banner__info .banner__container .banner__btns button:hover {
    background: #721B65;
    cursor: pointer;
    color: aliceblue;
  }
  .publicity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .publicity h2 {
    font-size: 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .publicity .publicity__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .publicity .publicity__container p {
    font-size: 12px;
  }
  .publicity .publicity__container .publicity__product {
    margin: 20px;
  }
  .caracteristics h1 {
    font-size: 2em;
  }
  .caracteristics .caracteristics__info {
    margin: 5%;
  }
  .caracteristics .caracteristics__img {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .caracteristics .caracteristics--imgwidth2 {
    width: 100%;
  }
  .interaction .interaction__container {
    position: relative;
    margin: 1em;
    width: 300px;
  }
  .interaction .interaction__container .interaction__after {
    position: absolute;
    width: 300px;
  }
  .interaction .interaction__container .interaction__before {
    position: absolute;
    width: 300px;
    overflow: hidden;
  }
  .interaction .interaction__container .interaction__slider {
    width: 0.3rem;
    background: #FFFFFF;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .interaction .interaction__container .interaction__img {
    width: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery h1 {
    font-size: 2em;
  }
  .gallery__current {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 10px;
  }
  .gallery__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery__thumb {
    height: 40px;
    width: 60px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 10px;
  }
  .details .details__info {
    width: 80%;
  }
  .details .details__info h1 {
    font-size: 3em;
  }
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter .newsletter__inputs {
    width: 50%;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */