.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
   
}
.product{
    border-radius: 15px;
    //width: 200px;
    display: block;
    text-decoration: none;
    margin:20px;
    //box-shadow: rgba(110, 51, 110, 0.2) 0px 7px 23px 0px;
   // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &__img {
        width: 100%;
    }
    &__info{
        padding: 10px;
        margin-right: 5%;
    }
    &__title{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 2em;
        color: #721B65;
       


    } 
    &__name{
        font-size: 2em;
        color: #721B65;     
        }
    &__price{
        margin: 0;
        font-size: 1em;
        font-weight: normal;

    }
    &:hover{
       color: rgb(128, 0, 85);
    }
    &__deleteBtn{
        border-radius: 30px;
        border: 2px solid #721B65;
        background: none;
        margin: 5px; 
        width: 30px;  
    }
    &__cartBtn{
        font-family: Quicksand;
        color: #721B65;
        width: 150px;
        margin-bottom: 10px;
        margin: 10px;
    }
    &__thumb{
        border-radius: 10px;
        border: 2px solid #721B65;
        background: none;
        margin: 5px; 
        width: 50px;
        

    }
    .product__thumb:hover{
        box-shadow: 0 0 2px 1px #ceacc9; 
        transform: translateY(-5px);

    }
    &__options{
        margin-left: 5%;

    }
  


}
.descriptionField{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: Quicksand;
    color: #721B65;
    padding: 5%;
    
&__descriptionContainer{
    border: 2px solid #721B65;
    border-radius: 10px;


}


} 
.product--d{
    align-items: center;
     display: flex;
     flex-direction: row;
     width: 100%;
     text-decoration: none;
     margin:20px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     
 }
 .product__img--d{
     width: 60%;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    
border-radius: 10px;
margin: 5%;

 }  
 
 .product__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
    }
    .description{
        padding: 5%;
    }

      //para telefonos
@media screen and (max-width:700px){
    .product--d{
        flex-direction: column;
    }
}