.productForm{
   
    &__btn{
        margin-top: 15px; 
        display: block; 

    }
    &__success{
        color: rgb(137, 168, 226);
    }
    &__loading{
        color: rgb(137, 168, 226);
    }
    &__error{
        color: rgb(137, 168, 226);
    }
    &__img{
        width: 100px;
        margin: 4px 10px 0 0;
    }
    &__images{
        display: flex;
    }

}

.field,
.productForm{
    &__label{
        display: block;
        margin-top: 10px;

        &--checkbox{
            margin-top: 2px;
            margin-left: 10px;
        }

    }
    &__input{
        display: block;
        background: #fff;
        -webkit-appearance:none;
        -moz-appearance: none;
        -ms-appearance:none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
       
        background-image: none;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    }

}
