.storeContainer{
    display: flex;
    flex-direction: row;
}

.filters{
    display: flex;
    flex-direction: column;
    width: 15%;
    font-family: Quicksand;
    background-color: #F1E3EF;
    margin-left: 20px;
}  

.Prodcontainer{
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 200px;
    display: block;
    text-decoration: none;
    margin:20px;
    //box-shadow: rgba(110, 51, 110, 0.2) 0px 7px 23px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.productForm__label{
       color: #721B65; 
       font-family: Quicksand;
       font-weight: bolder;
    }
.productForm__inputfilter{
        color: #ffffff;
        font-family: Quicksand;
        margin-left: 10px;
        margin-right: 10px;
        -webkit-appearance:none;
        -moz-appearance: none;
        -ms-appearance:none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #721B65;
        background-image: none;
        height: 30px;
    }
    select::-ms-expand{
        display: none;
    }
  
    select {
        
        padding:5px;
        color:#fff ;
        cursor: pointer;
    }


.linkbar{
    display: flex;
  
    flex-direction: row;
    justify-content: center;
    color: #721B65;
    font-family: Quicksand;
    font-weight: bolder;
   
    li{
        display: inline-block;
        width: 150px;
    color: #721B65;

    }
  
   // margin:20px;
    
    li a {
        display: inline-block;
        text-decoration: none;
        margin-left: 5%;
        text-decoration: none;
    color: #721B65;

       
    }
    &__link::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: rgb(71, 14, 14);
        transition: width .3s
    }
    &__link:hover::after{
        width: 100%;
        transition: width .3s;
    }
}

.listcontainer{

    &__title{
    color: #721B65;
    font-family: Quicksand;
font-size: 36px;
font-style: normal;
font-weight: bold;
line-height: 45px;
letter-spacing: 0em;
text-decoration: none;
margin-left: 20px;
    }
}
.formcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cartBtn{
    margin: 10px;
    span{
        color: #721B65;
    font-family: Quicksand;
font-size: 15px;
font-style: normal;
font-weight: bold;
text-decoration: none;
    }
}
.line{
    border-top: 1px solid #e6a6dc;
  height: 2px;
  padding: 20px;
  margin: 20px;
 
}
h2{
    color:#721B65;
}

.cartBtn{

margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
}