.storeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  width: 100%;
  font-family: Quicksand;
  background-color: #F1E3EF;
  margin-left: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Prodcontainer {
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  display: block;
  text-decoration: none;
  margin: 20px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.productForm__label {
  color: #721B65;
  font-family: Quicksand;
  font-weight: bolder;
  width: 30%;
}

.productForm__inputfilter {
  color: #ffffff;
  font-family: Quicksand;
  margin-left: 10px;
  margin-right: 10px;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #721B65;
  background-image: none;
  height: 30px;
  width: 30%;
}

select::-ms-expand {
  display: none;
}

select {
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

.linkbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #721B65;
  font-family: Quicksand;
  font-weight: bolder;
}

.linkbar li {
  display: inline-block;
  width: 150px;
  color: #721B65;
}

.linkbar li a {
  display: inline-block;
  text-decoration: none;
  margin-left: 5%;
  text-decoration: none;
  color: #721B65;
}

.linkbar__link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #470e0e;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.linkbar__link:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.listcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.listcontainer__title {
  color: #721B65;
  font-family: Quicksand;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 0em;
  text-decoration: none;
  margin-left: 20px;
}

.formcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cartBtn {
  margin: 10px;
}

.cartBtn span {
  color: #721B65;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.line {
  border-top: 1px solid #e6a6dc;
  height: 2px;
  padding: 20px;
  margin: 20px;
}

h2 {
  color: #721B65;
  width: 30%;
}

.cartBtn {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.formBtn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-family: Quicksand;
  color: #721B65;
  width: 150px;
  border-radius: 30px;
  border: 2px solid #721B65;
  -webkit-transition: .6s;
  transition: .6s;
  background: none;
  overflow: hidden;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
}

.formBtn:focus {
  outline: none;
}

.formBtn::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 10px;
  height: 50px;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translate(-100px) scaleX(-15deg);
          transform: translate(-100px) scaleX(-15deg);
}

.formBtn:hover {
  background: #721B65;
  cursor: pointer;
  color: aliceblue;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
/*# sourceMappingURL=store.css.map */