@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: Quicksand;
}

p {
  font-family: Quicksand;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Quicksand;
  font-size: 1em;
  color: #721B65;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__imglogo {
  margin: auto;
  height: 50px;
}

.header__discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
}

.header__discover p {
  padding-left: 10px;
  margin: auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  padding-right: 1em;
  padding-left: 1em;
  border: 2px solid #952ad3;
  border-radius: 30px;
  height: 30px;
}

.btn p {
  margin: auto;
}

.header__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

.header__information {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
}

.header__information p {
  margin: auto;
  padding-left: 10px;
}

.banner {
  background: -webkit-gradient(linear, left top, right bottom, from(#FFA3C1), color-stop(#FF87B9), color-stop(50%, #FFE9D4), to(#FEA49F));
  background: linear-gradient(to bottom right, #FFA3C1, #FF87B9, #FFE9D4 50%, #FEA49F);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #721B65;
}

.banner .banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5em;
  margin-top: 4em;
}

.banner .banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0));
  padding-left: 1em;
  padding-bottom: 1em;
}

.banner .banner__container h1 {
  font-size: 5em;
  margin: 0;
}

.banner .banner__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
}

.banner .banner__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  margin-top: 20px;
  padding: 0;
  margin-right: 2em;
}

.publicity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publicity .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10em;
}

.publicity__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px;
}

.publicity__product {
  background-color: #B80D57;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 50px;
  width: 220px;
  height: 150px;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 15px;
  color: azure;
  margin-right: 5em;
}

.publicity__img {
  position: absolute;
  top: 0;
  left: 110px;
  width: 170px;
}

.publicity--img {
  background-color: #F8615A;
}

.publicity--img2 {
  background-color: #FFD868;
}

.caracteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caracteristics h1 {
  font-size: 3em;
  margin: 0;
  color: #721B65;
}

.caracateristics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.caracteristics__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em;
}

.caracteristics__info p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.caracteristics__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
}

.caracteristics--imgwidth {
  width: 200px;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right bottom, from(#FFA3C1), color-stop(#FF87B9), color-stop(50%, #FFE9D4), to(#FEA49F));
  background: linear-gradient(to bottom right, #FFA3C1, #FF87B9, #FFE9D4 50%, #FEA49F);
}

.details h1 {
  font-size: 3em;
  margin: 0;
  color: #721B65;
}

.details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0));
  padding-left: 1em;
  padding-bottom: 1em;
  margin: 5em;
}
/*# sourceMappingURL=style.css.map */