@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: Quicksand;
}

h3 {
  font-family: Quicksand;
  color: #721B65;
}

p {
  font-family: Quicksand;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  background-color: white;
  font-family: Quicksand;
  font-size: 1em;
  color: #721B65;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__imglogo {
  margin: auto;
  height: 50px;
}

.header .header__imgdiscover {
  display: none;
}

.header .header__discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
}

.header .header__discover p {
  padding-left: 10px;
  margin: auto;
}

.header .header__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

.header .header__information {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
}

.header .header__information p {
  margin: auto;
  padding-left: 10px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  padding-right: 1em;
  padding-left: 1em;
  height: 30px;
}

.btn button {
  font-family: Quicksand;
  color: #721B65;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid #721B65;
  -webkit-transition: .6s;
  transition: .6s;
  background: none;
  overflow: hidden;
}

.btn button:focus {
  outline: none;
}

.btn button:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 10px;
  height: 50px;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translate(-100px) scaleX(-15deg);
          transform: translate(-100px) scaleX(-15deg);
}

.btn button:hover {
  background: #721B65;
  cursor: pointer;
  color: aliceblue;
}

.btn p {
  margin: auto;
}

.banner {
  background: -webkit-gradient(linear, left top, right bottom, from(#FFA3C1), color-stop(#FF87B9), color-stop(50%, #FFE9D4), to(#FEA49F));
  background: linear-gradient(to bottom right, #FFA3C1, #FF87B9, #FFE9D4 50%, #FEA49F);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #721B65;
}

.banner .banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5em;
  margin-top: 4em;
}

.banner .banner__info .banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0));
  padding-left: 1em;
  padding-bottom: 1em;
}

.banner .banner__info .banner__container h1 {
  font-size: 4em;
  margin: 0;
}

.banner .banner__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
}

.banner .banner__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 0;
  margin-right: 2em;
}

.publicity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publicity .publicity__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3%;
}

.publicity .publicity__product {
  background-color: #B80D57;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 50px;
  width: 45%;
  height: 30;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 15px;
  color: azure;
  margin-right: 5em;
}

.publicity .publicity__img {
  position: absolute;
  top: 0;
  left: 110px;
  width: 170px;
}

.publicity .publicity--img {
  background-color: #F8615A;
}

.publicity .publicity--img2 {
  background-color: #FFD868;
}

.caracteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caracteristics h1 {
  font-size: 3em;
  margin: 0;
  color: #721B65;
}

.caracteristics .caracateristics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.caracteristics .caracteristics__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em;
}

.caracteristics .caracteristics__info p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #721B65;
}

.caracteristics .caracteristics__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
}

.caracteristics .caracteristics--imgwidth {
  width: 200px;
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(#FFA3C1), color-stop(#FF87B9), color-stop(50%, #FFE9D4), to(#FEA49F));
  background: linear-gradient(to bottom right, #FFA3C1, #FF87B9, #FFE9D4 50%, #FEA49F);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interaction h1 {
  font-size: 5em;
  margin: 0;
  color: #721B65;
}

.interaction .interaction__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0));
  padding-left: 1em;
  padding-bottom: 1em;
  margin-left: 5em;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 100%;
  height: 300px;
}

.interaction .interaction__container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 3em;
  left: 5em;
}

.interaction .interaction__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 10%;
  top: -20%;
  margin: 0;
  padding: 0;
  width: 600px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right bottom, from(#FFA3C1), color-stop(#FF87B9), color-stop(50%, #FFE9D4), to(#FEA49F));
  background: linear-gradient(to bottom right, #FFA3C1, #FF87B9, #FFE9D4 50%, #FEA49F);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details h1 {
  font-size: 3em;
  margin: 0;
  color: #721B65;
}

.details p {
  color: #721B65;
}

.details .details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0));
  padding-left: 1em;
  padding-bottom: 1em;
  margin: 5em;
  width: 500px;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat !important;
  background-size: cover;
  color: aliceblue;
}

.newsletter h3 {
  color: aliceblue;
}

.newsletter input {
  border-radius: 30px;
  padding: 5px;
  border: 2px solid #721B65;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em;
}

.footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footer__info .footer__img {
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

.footer .footer__info ul {
  font-family: Quicksand;
  color: #721B65;
}

.footer .footer__img {
  margin: 30px;
  width: 100px;
  height: 30px;
}

@media screen and (max-width: 700px) {
  p {
    font-size: 12px;
  }
  h3 {
    font-size: 18px;
  }
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__discover {
    display: none;
  }
  .header .header__discover button {
    display: none;
  }
  .header .header__information {
    display: none;
  }
  .header .header__imgdiscover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 5%;
    margin-left: 3%;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .banner__info {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .banner .banner__info .banner__container h1 {
    font-size: 3em;
  }
  .banner .banner__info .banner__container .banner__btns button {
    font-family: Quicksand;
    color: #721B65;
    width: 100px;
    padding-bottom: 5px;
    border-radius: 30px;
    border: 2px solid #721B65;
    -webkit-transition: .6s;
    transition: .6s;
    background: none;
    overflow: hidden;
  }
  .banner .banner__info .banner__container .banner__btns button:focus {
    outline: none;
  }
  .banner .banner__info .banner__container .banner__btns button:hover {
    background: #721B65;
    cursor: pointer;
    color: aliceblue;
  }
  .publicity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .publicity .publicity__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .publicity .publicity__container p {
    font-size: 12px;
  }
  .publicity .publicity__container .publicity__product {
    margin: 20px;
  }
  .caracteristics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .caracteristics h1 {
    font-size: 2em;
  }
  .caracteristics .caracteristics__info {
    margin: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .caracteristics .caracteristics__img {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .caracteristics .caracteristics--imgwidth2 {
    width: 100px;
  }
  .interaction .interaction__container {
    margin: 5%;
  }
  .interaction .interaction__container h1 {
    font-size: 3em;
  }
  .interaction .interaction__container .interaction__img {
    width: 70%;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
  }
  .gallery .gallery__img {
    width: 100%;
  }
  .details .details__info {
    width: 80%;
  }
  .details .details__info h1 {
    font-size: 3em;
  }
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter .newsletter__inputs {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */