  
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
*{
    box-sizing: border-box;
}
h1{
    font-family: Quicksand;
   
    
}
p{
    font-family: Quicksand;
    
    
}

body {
    margin: 0;
    padding: 0;
  }


.header{
    display: flex;
     margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1em;
    color: #721B65;

    justify-content: end;
    align-items: center;


}
.header__imglogo{
    margin: auto;
    height: 50px;
    
 
}

.header__discover{
    display: flex;
    position: relative;
    
    flex-direction: row;
    height: 30px;
    p{
        padding-left: 10px;
        margin: auto;
        
    }
}
.btn{
    display:flex;
    margin-left: 10px;
    padding-right: 1em;
    padding-left: 1em;
    border: 2px solid rgb(149, 42, 211);
    border-radius: 30px;
    height: 30px;
  
    p{
        
        margin: auto;
    }
}
.header__search{
    position: relative;
    display:flex;
    border-radius: 20px;

    
}
.header__information{
    position: relative;
    display: flex;
    
    flex-direction: row;
    height: 30px;

    p {
        margin: auto;
        padding-left: 10px;
       
    }
}

.banner{

background: linear-gradient(to bottom right, #FFA3C1,#FF87B9,#FFE9D4 50% ,#FEA49F);

display: flex;
flex-direction:row;
justify-content: space-between;
color :#721B65;





.banner__info{
display: flex;
width: 600px;
flex-direction: column;
margin-left: 5em;
margin-top: 4em;

}
.banner__container{
    display:flex;
    flex-direction: column;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    background: linear-gradient(to bottom right, rgba(255,255,255,1), rgba(255,255,255,0));
    padding-left: 1em;
    padding-bottom: 1em;
    
h1{
    font-size: 5em;
    margin: 0;
}

}
.banner__btns{
    display: flex;
    position: relative;
    
    flex-direction: row;
    height: 40px;
}
.banner__img{
    display: flex;
    width: 650px;
    margin-top: 20px;
    padding: 0;
    margin-right: 2em ;
    
}
}

.publicity{

display:flex;
flex-direction: column;
margin: 5em;
align-items: center;



 .btn{
     display: flex;

   
     width: 10em;
 }

}
.publicity__container{
    display:flex;
flex-direction: row;
margin: 20px;
}
.publicity__product{
background-color: #B80D57;
position: relative;
display: flex;
flex-direction: row;
border-radius: 50px;
width: 220px;
height: 150px;


display: flex;
flex-direction: column;
padding: 15px;
color: azure;

margin-right: 5em;



}
.publicity__img{
    position: absolute;
    top: 0;
    left: 110px;
  
    width: 170px;

}
.publicity--img {
    background-color: #F8615A;
}
.publicity--img2{
    background-color: #FFD868;
}
.caracteristics{
    display:flex;
    flex-direction: column;
    margin: 5em;
    align-items: center;

    h1{
        font-size: 3em;
        margin: 0;
        color :#721B65;

    }
    
}

.caracateristics__container{    
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.caracteristics__info{
    align-items: center;
    display: flex;
  flex-direction: column;
   
    margin: 2em;
p{
    
    margin: 0;
    padding: 0;
    text-align: center;

}
}
.caracteristics__img{
    display: flex;
    width: 150px;
}
.caracteristics--imgwidth{
    width: 200px;
}

.details{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #FFA3C1,#FF87B9,#FFE9D4 50% ,#FEA49F);
    
    h1{
        font-size: 3em;
        margin: 0;
        color :#721B65;

    }
}
.details__info{
    display:flex;
    flex-direction: column;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    background: linear-gradient(to bottom right, rgba(255,255,255,1), rgba(255,255,255,0));
    padding-left: 1em;
    padding-bottom: 1em;
    margin: 5em;

}


